body{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    padding: 0;
}
.header,
.footer{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
   
}
ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
.header{
    gap: 16px;
    padding: 16px 200px;
}
.subtext{
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 100;
}
.text,
.logo{
    color: #f9faf8;
}
.logo{
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px;
}
.text{
    font-size: 48px;
    font-weight: 1000;
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}
.image{
    display: flex;
}
.container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 4em;
}
.footer{
    justify-content: center;
    align-items: center;
}
button{
    background-color: #3882f6;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 8px;
    border: 0;
    color: #f9faf8;
    font-weight: bold;
    font-size: 18px;
}
.header,
.info,
.quote,
.action,
.footer{
    font-family: 'Roboto';
}
#logo{
    font-weight: 700;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rt{
    padding: 36px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 1000;
    color: #1f2937;
}
.meating{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding-bottom: 8em; 
    text-align: center;
    font-weight: 100;
    
}
.img{
    border-radius: 8px;
    border: #3882f6 solid 2px;
}
.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 125px;
}
em{
    font-size: 36px;
    color: #1f2937;
    font-weight: 50;
}
.quote #thor{
    font-weight: 700;
    font-size: 36px;
}